@import './animations.sass'

.hidden
    display: none

.invisible
    opacity: 0

.show 
    animation: 1 .25s showAnimation, 
    -webkit-animation: 1 .25s showAnimation, 
    opacity: 1 
    
.hide 
    animation: 1 .25s leaveAnimation,
    -webkit-animation: 1 .25s leaveAnimation,
    opacity: 0
